/.vscode/
__pycache__/
*.pyc
/venv/
/.venv/
*.egg-info/

/resources/
/*/results/
/*/latest/**/out*.txt
/*/latest/**/boot*.txt
/*/latest/**/*log.txt

/artifact-eval/bin
/artifact-eval/blender
/artifact-eval/compiling
/artifact-eval/inflate
/artifact-eval/multivm
/artifact-eval/stream
/artifact-eval/ftq
/artifact-eval/hyperalloc_ae
/artifact-eval/test
